/* body styles */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* Top Info, First section styles*/
.top-info,
.footer {
    background-color: #1F2937;
}

.top-info,
.random-info {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.links ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.links a {
    color: #F9FAF8;
    text-decoration: none;
}

.header-info {
    display: flex;
    margin-bottom: 50px;
    margin-top: 20px;
    gap: 40px;
}

.header-info-main {
    flex: 3;
    padding-top: 50px;
    
}

.header-info-main h2,
.header-info-main p {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.header-info-main h2 {
    font-size: 48px;
}

.header-info-main p,
.links a {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
}

.header-info-main p {
    line-height: 35px;
}
    
.header-info img {
    flex-grow: 1;
    margin-right: 80px;
    flex-shrink: initial;
    width: 30px;
    cursor: pointer;    
}

.header img {
    width: 70px;
    border-radius: 50%;
    flex-shrink: initial;
    margin-right: 15px;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    font-family: cursive;
}

.header-info-main button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 0;
    border-radius: 15%;
    padding: 7px 25px;
    font-size: 18px;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}


/* Random Info; second section styles */

.random-info {
    background-color: #F9FAF8;
    color: #1F2937;
}


.random-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.random-info-main {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    display: flex;
    padding: 0;
    gap: 15px;
    flex-wrap: wrap;
}

.buttons div button {
    width: 250px;
    height: 180px;
    padding: 0;
    border: 2px solid #3882F6;
    border-radius: 15%;
    
}

.buttons div button img {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 15%;
    object-fit: fill;
}

.buttons div p {
    width: 250px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.buttons div p a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

/* Quote; third section syles */
.quotes {
    background-color: #E5E7EB;
}

.quotes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 400px;
}

.quotes-container p {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
}

.quotes-container .author {
    margin-left: auto;
    font-style: normal;
    font-size: 20px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sign up info; Fourth section styles */
.sign-up {
    display: flex;
    justify-content: center;
}

.sign-up-container {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
    gap: 40px;
    margin: 50px 30px;
}

.sign-up-info h3,
.sign-up-info p {
    margin: 0;
    padding: 0;
}

.sign-up-info h3 {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.sign-up-info p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    line-height: 20px;
    margin-top: 10px;
}

.sign-up-info {
    flex-grow: 2;
}

.sign-up-button button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #E5E7EB;
    border-radius: 15%;
    padding: 7px 25px;
    font-size: 18px;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
}

/* Footer styles */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
